{% extends 'camping/layout.html' %}

{% load static %}

{% block content %}


<head>

    <link rel="stylesheet" href="{% static 'css/galleryStyle.css' %}">
    <title>Gallery</title>
</head>

<!--FILE CONTINING SCRIPT FOR NAVIGATION BARS-->
<script src="js/navbar.js"></script>


    <div class="wrapper">

        <section class="photo-container">

            <div class="photo1">
                <div class="ptext">
                    <span class="border">
                    Far, Far and a<span class="highlight">wa</span>y
                    </span>
                </div>
            </div>
            <div class="photo2"></div>
            <div class="photo3"></div>
            <div class="photo4"></div>
            <div class="photo5"></div>
            <div class="photo6"></div>
            <div class="photo7"></div>
            <div class="photo8"></div>
            <div class="photo9"></div>
            <div class="photo10"></div>
            <div class="photo11"></div>
            <div class="photo12"></div>
            <div class="photo13"></div>
            <div class="photo14"></div>
            <div class="photo15"></div>
            <div class="photo16"></div>
            <div class="photo17"></div>
            <div class="photo18"></div>
            <div class="photo19"></div>
            <div class="photo20"></div>
            <div class="photo21"></div>
            <div class="photo22"></div>
            <div class="photo23"></div>
            <div class="photo24"></div>
            <div class="photo25"></div>
            <div class="photo26"></div>
            <div class="photo27"></div>
        </section>

    </div>

    {% endblock %}