{% extends 'camping/layout.html' %}

{% load static %}

{% block content %}


<head>

    <link rel="stylesheet" href="{% static 'css/galleryStyle.css' %}">
    <title>Gallery</title>
</head>

<!--FILE CONTINING SCRIPT FOR NAVIGATION BARS-->
<script src="js/navbar.js"></script>


    <div class="wrapper">

        <section class="photo-container">

            <div class="photo1" title="Albany-beach.">
                <div class="ptext">
                    <span class="border">
                    Far, Far and a<span class="highlight">wa</span>y
                    </span>
                </div>
            </div>
            <div class="photo2" title="Lake Brockman - trees."></div>
            <div class="photo3" title="Sandy Cape - Beach and dogs."></div>
            <div class="photo4" title="Troopy at Seabird."></div>
            <div class="photo5" title="Lake Brockman - lake."></div>
            <div class="photo6" title="Sandy Cape - dogs running."></div>
            <div class="photo7" title="Esperance - beach."></div>
            <div class="photo8" title="Lake Brockman - trees."></div>
            <div class="photo9" title="Lake Brockman - Troopy."></div>
            <div class="photo10" title="Busselton Jetty."></div>
            <div class="photo11" title="Margaret River - vineyard."></div>
            <div class="photo12" title="Lake Brockman - Troopy."></div>
            <div class="photo13" title="Albany-beach"></div>
            <div class="photo14" title="Lake Brockman - dog."></div>
            <div class="photo15" title="Lake Brockman - trees."></div>
            <div class="photo16" title="Sunset"></div>
            <div class="photo17" title="Tree"></div>
            <div class="photo18" title="Denham - beach."></div>
            <div class="photo19" title="Kalbarri - ravine."></div>
            <div class="photo20" title="Scruffy - dog."></div>
            <div class="photo21" title="Sandy Cape - Dune."></div>
            <div class="photo22" title="Beach."></div>
            <div class="photo23" title="Kalbarri - ravine."></div>
            <div class="photo24" title="Kalbarri - cliffs."></div>
            <div class="photo25" title="Elephant Rock."></div>
            <div class="photo26" title="Sunset."></div>
            <div class="photo27" title="Esperance - beach."></div>
            <div class="photo28" title="Tamala - Troopy."></div>
            <div class="photo29" title="Tamala - sign."></div>
            <div class="photo30" title="Tamala - beach."></div>
            <div class="photo31" title="Tamala - cross."></div>
            <div class="photo32" title="Tamala - blowhole."></div>
            <div class="photo33" title="Tamala - Sunset."></div>
            <div class="photo34" title="Tamala - troopy."></div>
            <div class="photo35" title="Scruffy - dog."></div>
            <div class="photo36" title="Denmark - dogs."></div>
            <div class="photo37" title="Kalbarri - sign."></div>
        </section>

    </div>

    {% endblock %}