{% extends 'camping/layout.html' %}

{% load static %}

{% block content %}
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
            Far, Far and a<span class="highlight">wa</span>y
            </span>
        </div>
    </div>

    <section class="section section-light">
        <h2>HELLO</h2>
        <p>Hello we are a couple living in <span class="highlight">Western Australia</span> who enjoy the great opportunities this state offers to explore the great outdoors. We consider ourselves fairly adventurous and have tried to discover the interesting locations to visit in <span class="highlight">WA</span> . Campsites, points of interest and useful gadgets are all reviewed. This site is a record of our adventures and is hopefully a useful reference for you, our fellow explorer. Enjoy and happy trails.
    </section>

    <div class="pimg2">
        <div class="ptext">
            <span class="border">
                Far, Far and a<span class="highlight">wa</span>y
            </span>
        </div>
    </div>

    <section class="section section-dark">
        <h2>THE MAP</h2>
        <p>We have included a map with the locations in <span class="highlight">WA</span> that we think are interesting. If we have visited that location a review by ourselves is linked but if we haven't there is also a link to the official website. The directions will give you a quick guide of the distances you will have to travel and times involved. </p>
    </section>

    <div class="pimg3">
        <div class="ptext">
            <span class="border">
                Far, Far and a<span class="highlight">wa</span>y
            </span>
        </div>
    </div>

    <section class="section section-dark">
        <h2>GADGETS</h2>
        <p>You can't have enough gadgets to make your camping experience go from tolerable to truly wonderful. The one thing i have noticed in Australia are the enormous variety and choice of products aimed at the camping market. We have tried our fair share, some good, some not so good. This section aims to provide an honest opinion of the gear we have purchased and used. As always buyer beware. </p>
    </section>

    <div class="pimg4">
        <div class="ptext">
            <span class="border">
                Far, Far and a<span class="highlight">wa</span>y
            </span>
        </div>
    </div>

{% endblock %}