{% extends 'camping/layout.html' %}

{% load static %}

{% block content %}
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
            Far, Far and a<span class="highlight">wa</span>y
            </span>
        </div>
    </div>

    <section class="section section-light">
        <h2>Section 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla rem eum saepe accusamus quia esse eaque vel beatae recusandae? Labore dolorem aspernatur sunt quaerat debitis laboriosam rerum sit excepturi quisquam. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Pariatur placeat magnam quia veniam minus, blanditiis eius laboriosam alias odit dolore eveniet consectetur libero exercitationem sint tempore optio ab sequi accusantium quae rem laborum natus. Earum laboriosam libero eaque
            fugiat inventore asperiores commodi, ipsam expedita nam, corporis amet nemo ducimus facilis, dignissimos voluptatem aliquid eum dolores quia laudantium ab animi officiis? Maiores, porro. Impedit, totam beatae. Quibusdam distinctio aliquid
            reiciendis sapiente libero consequatur ipsa sint magni, error assumenda inventore laudantium deserunt atque laborum quidem tempore eum est fugiat doloribus culpa. Vero provident labore saepe excepturi placeat accusantium est odio tempora officia.
        </p>
    </section>

    <div class="pimg2">
        <div class="ptext">
            <span class="border">
                Far, Far and a<span class="highlight">wa</span>y
            </span>
        </div>
    </div>

    <section class="section section-dark">
        <h2>Section 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla rem eum saepe accusamus quia esse eaque vel beatae recusandae? Labore dolorem aspernatur sunt quaerat debitis laboriosam rerum sit excepturi Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Exercitationem impedit fuga ab illo? Doloremque quia tenetur ipsam perferendis natus velit asperiores culpa atque voluptates rerum eum hic veniam reiciendis, aut, odit quae! Iste magnam deserunt inventore modi exercitationem
            eveniet! Doloribus eius cumque dignissimos, quasi nemo amet quidem velit sed vitae rem obcaecati quas quisquam commodi. Similique autem recusandae quibusdam, numquam cupiditate reprehenderit eligendi est nobis porro sapiente a mollitia, illo
            aliquid. At sint fuga, earum, quisquam deleniti temporibus impedit porro, reiciendis delectus dolore sed. Quibusdam est placeat illum debitis fugiat voluptates, minus dolore qui impedit iure, nam veniam saepe esse. </p>
    </section>

    <div class="pimg3">
        <div class="ptext">
            <span class="border">
                Far, Far and a<span class="highlight">wa</span>y
            </span>
        </div>
    </div>

    <section class="section section-dark">
        <h2>Section 3</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla rem eum saepe accusamus quia esse eaque vel beatae recusandae? Labore dolorem aspernatur sunt quaerat debitis laboriosam rerum sit excepturi Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Exercitationem impedit fuga ab illo? Doloremque quia tenetur ipsam perferendis natus velit asperiores culpa atque voluptates rerum eum hic veniam reiciendis, aut, odit quae! Iste magnam deserunt inventore modi exercitationem
            eveniet! Doloribus eius cumque dignissimos, quasi nemo amet quidem velit sed vitae rem obcaecati quas quisquam commodi. Similique autem recusandae quibusdam, numquam cupiditate reprehenderit eligendi est nobis porro sapiente a mollitia, illo
            aliquid. At sint fuga, earum, quisquam deleniti temporibus impedit porro, reiciendis delectus dolore sed. Quibusdam est placeat illum debitis fugiat voluptates, minus dolore qui impedit iure, nam veniam saepe esse. </p>
    </section>

    <div class="pimg4">
        <div class="ptext">
            <span class="border">
                Far, Far and a<span class="highlight">wa</span>y
            </span>
        </div>
    </div>

{% endblock %}