{% extends 'camping/layout.html' %}

{% load static %}

{% block content %}

<style>

.overall-list{
    text-align: left;
    list-style-type: square;
}

.overall-list a{
    text-decoration: none;
    color: #b8c3bb;
}



</style>



    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                Linga Longa Farmstay at Lynton Station
            </span>
        </div>
    </div>

    <section class="section section-light">
        <h2>Linga Longa Farmstay at Lynton Station Lat: -28.211641 Long: 114.305209</h2>
        <p>Located 500 km north of Perth the farmstay makes an ideal rest point or a place to spend a longer stay. If you are going further North it is 40km off the highway, taking a turn at Northanpton. This is a pleasant drive and should take approximately 45 minutes. Personally i believe the farmstay is worth the detour if you are looking for a place to stay to break up your journey. As a longer term place to visit i can't recommend it enough. An important consideration for us was that it allowed dogs. The farmstay is located next to Lynton Station which contains several historic buildings currently under renovation. The owners are very friendly and make every effort to ensure you are enjoying your stay.
    </section>

    <div class="pimg2">
        <div class="ptext">
            <span class="border">
                Far, Far and a<span class="highlight">wa</span>y
            </span>
        </div>
    </div>

    <section class="section section-dark">
        <h2>SIGHTS AND SOUNDS</h2>
        <p>We have included a map with the locations in <span class="highlight">WA</span> that we think are interesting. If we have visited that location a review by ourselves is linked but if we haven't there is also a link to the official website. The directions will give you a quick guide of the distances you will have to travel and times involved. </p>
    </section>

    <div class="pimg3">
        <div class="ptext">
            <span class="border">
                Far, Far and a<span class="highlight">wa</span>y
            </span>
        </div>
    </div>

    

    <section class="section section-dark">
        <h2>OVERALL</h2>
        <p>We spent a fantastic few days here. The days were spent venturing out on walks or taking drives and it was  </p>
        <ul class="overall-list">
            <li>Powered or unpowered sites. </li>
            <li>Showers and toilets - The water was nice and hot with plenty of pressure - The toilets are clean but basic.</li>
            <li>The pitches are large and the owners try to space everyone out so there is no crowding.</li>
            <li>Depending on the season you can have a campfire which for me was a huge bonus. You just have to supply the wood.</li>
            <li>Dogs are allowed.</li>
            <li>Great feel to the place with the history and landscape.</li>
            <li>Contact: <a href="https://www.facebook.com/LingaLongaAtLyntonStation/" target="_blank">Linga Longa Facebook</a></li>
        </ul>


    </section>

    <div class="pimg4">
        <div class="ptext">
            <span class="border">
                Far, Far and a<span class="highlight">wa</span>y
            </span>
        </div>
    </div>

    
{% endblock %}